<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
      <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/mycss.css' />
    
      
</head>

<body>

    <%- include header.ejs %>
        <div class="content main-content">
            <div id="main">
                <div id="imgupload">

                    <input type="hidden" value="" id="hideTypeid">
                    <div class="uptop"><b>相片上传</b>:一次最多可上传5张，每张大小在200kb以内。您可以上传JPG、GIF、BMP和PNG格式的照片</div>
                   


                        <input type="hidden" name="struts.token.name" value="struts.token">
                        <input type="hidden" name="struts.token" value="EOENWBKS0E774FY3CTD900DNQGPDMXDQ">
                        <div id="uploadarea">

                            <div class="onefile">
                                <div class="file">
                                    <input type="file" name="upload" id="file0" onchange="fileupload(this,0)">
                                    <br><span id="error0" class="error"></span></div>
                                <div class="preview"><img id="pre0" src="images/img_preview.gif"></div>
                                <div class="desc">描述:
                                    <br>
                                    <textarea name="desc" id="desc0"></textarea>
                                </div>
                            </div>
                            <div class="onefile">
                                <div class="file">
                                    <input type="file" name="upload" id="file1" onchange="fileupload(this,1)">
                                    <br><span id="error1" class="error"></span></div>
                                <div class="preview"><img id="pre1" src="images/img_preview.gif"></div>
                                <div class="desc">描述:
                                    <br>
                                    <textarea name="desc" id="desc1"></textarea>
                                </div>
                            </div>
                            <div class="onefile">
                                <div class="file">
                                    <input type="file" name="upload" id="file2" onchange="fileupload(this,2)">
                                    <br><span id="error2" class="error"></span></div>
                                <div class="preview"><img id="pre2" src="images/img_preview.gif"></div>
                                <div class="desc">描述:
                                    <br>
                                    <textarea name="desc" id="desc2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="uphide">
                            <a class="album" href="/albumList"><img src="images/album.gif">返回相册</a>
                            <a class="addmore" href="javascript:addmore(2);"><img src="images/ico_uploadpic.gif" align="absmiddle">上传更多相片</a>
                        </div>
                        <div class="cat">
                            相册类别:


                            <select name="typeid" id="typeid">
                                <% for(var i=0;albumLis!=undefined&&i<albumLis.length;i++){
                                var album=albumLis[i];
    
                                 %>
                                    <option value="<%=album.image_type_id%>">
                                        <%=album.type_name%>
                                    </option>

                                    <%}%>

                            </select>


                            <a href="javascript:opAlbum(-1,'','',false);"><img src="images/ico_creatset.gif" align="absmiddle">创建新相册 </a>
                        </div>
                        <div class="error">
                        </div>
                        <div class="sub">
                            <input type="button" value="上传" onclick="Upload();">
                        </div>
                   
                </div>
                <br>
            </div>
        </div>
        <%- include foot.ejs %>
     <script src="js/bmob.js"></script>
    <script src="js/albumList.js"></script>
    <script>
    
    //上传图片

	Bmob.initialize("21313123131231", "2342134131231231231222222");

	
	function fileupload(_this,id) {
		  
       

          
            
            $(_this).attr('disabled', 'disabled');

            function imgadd() {
				 
                var fileUploadControl = $(_this)[0];

              

                if (fileUploadControl.files.length > 0) {

                    var fileObjs = fileUploadControl.files[0];

                    var file = new Bmob.File(fileObjs.name, fileObjs);



                    //上传文件
                    file.save().then(function(obj) {

                        if (obj.url() == 'http://file.bmob.cn/undefined') {
                            imgadd();
                            return;
                        }
                        
                        $(_this).removeAttr('disabled');
                        
                         // $(_this).siblings().eq(1).text('上传');
						
                        $("#pre"+id).attr('src',obj.url());
                        

                    }, function(error) {
                     
                    });






                }

            }
            imgadd();

        
    }
        
        function Upload(){
            // sumbitImg
           
            var image_type_id=$('#typeid').val();
            var img_url="";
            var img_desc="";
            var url_list=$('#uploadarea .onefile  img');
             var desc_list=$('#uploadarea .onefile  textarea')
            for(var i=0;i<url_list.length;i++){
                
                
                if(url_list.eq(i).attr("src")!=undefined&&url_list.eq(i).attr("src")!='images/img_preview.gif'&&url_list.eq(i).attr("src")!=''){
                    img_url=img_url+url_list.eq(i).attr("src")+",";
                     img_desc=img_desc+desc_list.eq(i).val() +",";
                    
                }
               
            }
         
            
            if(img_url==""){
               alert("请选择图片");
              
                return;
            }
               console.log("image_type_id:"+image_type_id);
               console.log("\nimg_desc:"+img_desc);
               console.log("\nimg_url:"+img_url);
            $.getJSON("sumbitImg.action",{image_type_id:image_type_id,img_url:img_url,img_desc:img_desc},
			function(data){
		  
		    
				if(data.result){
					alert(data.tips);
                    
                    location.reload();
				   
				}else{
					alert(data.tips);
				}
				
	 		}
	 	);
            
        }
       
    
    
    </script>
</body>

</html>