<!DOCTYPE html><html><head><title><%= %></%=></title><link rel=stylesheet href=/css/style.css><link rel=stylesheet href=/css/mycss.css><style>
        textarea {
            width: 90%;
            height: 80px;
            padding: 1em;
            resize: none;
            overflow-x: none;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
    </style></head><body><%- include header.ejs %><div class=content><div id=main><div id=profile><div class=pro_left><div class=one><div class=top><div class=top_left>我的资料</div><div class=top_right><% if (session.tostring()!=null ){ %><a href=javascript:showProfile();><img src=images/edit.gif alt=编辑 align=absmiddle> 编辑</a><%}%>&nbsp;</%}%></%></div><br></div><div class=referance><div class=re>姓 名： <span><%=userinfo.real_name%></%=userinfo.real_name%></span></div><div class=re>生 日： <span><%=userinfo.birthday%></%=userinfo.birthday%></span></div><div class=re>家 乡： <span><%=userinfo.birth_place%></%=userinfo.birth_place%></span></div><div class=re>现 居： <span><%=userinfo.live_place%></%=userinfo.live_place%></span></div><div class=re>邮 箱： <span><%=userinfo.email%></%=userinfo.email%></span></div><div class=re>个人简介： <span><%=userinfo.introduce%></%=userinfo.introduce%></span></div></div></div><div class=one><div class=top><div class=top_left>留言板</div><br></div><div class=leave_msg><%for(var i="0;i<leavList.length;i++){" %><div class=info><div class=num><%=i+1%></%=i+1%></div><div class=user><%=leavlist[i].user%></%=leavlist[i].user%></div><div class=dc_time><%=leavlist[i].create_time%></%=leavlist[i].create_time%></div><div class=op></div><br></div><div id=msg1 class=com_cont><%=leavlist[i].content%></%=leavlist[i].content%></div><%}%></%}%></%for(var></div></div><a name=reply></a><div id=publish_comment><div class=user>姓 名: <input type=text name=user id=user size=30></div><div class=userNum>内 容: [ 留言长度不能超过<span>500</span>个字符 ]<br></div><div class=word><textarea maxlength=500 id=content></textarea></div><div class=error></div><div class=sub><span id=sub><input type=button value=给我留言 onclick=leaveMsg();></span></div></div></div><div class=pro_right><div class=two><div class=top><div class=top_right><% if (session.tostring()!=null ){ %><a href=/imgUpload><img src=images/ico_uploadpic.gif align=absmiddle>上传新照片</a>&nbsp; <a href=/albumList><img src=images/edit.gif align=absmiddle> 查看相片</a><%}%>&nbsp;</%}%></%></div><br></div></div><div class=two><div class=top><div class=top_left>最近发表文章</div><br></div><% for(var i="0;i<articleList.length;i++){" var article=articleList[i]; %><div class=latesta><a href="articleDetail?article_id=<%=article.article_id%>"><%=article.title%></%=article.title%></a></div><br><%}%></%}%></%></div></div><br></div></div></div><%- include foot.ejs %><script type=text/javascript>
                function leaveMsg() {


                    var user = $("#user").val();
                    var content = $("#content").val();
                    $.getJSON("leaveMsg.action", {
                            user: user,
                            content: content
                        },
                        function (data) {
                            if (data.result) {
                                alert("留言成功！");
                                location.reload();
                            } else {
                                alert(data.tips);
                            }
                        }
                    );

                }
            </script></%-></%-></body></html>